/* phpcs:ignore */

table.gcr_report {
  border-collapse: collapse;
  min-width: 600px;
}

table.gcr_report tr, table.gcr_report td {
  border: 1px solid black;
  padding: 2px 5px;
}

tr.gcr_report_orderid {
}

tr.gcr_report_orderdesc {

}

tr.gcr_report_ordertotal {
  font-weight: bold;
  text-align: right;
}
tr.gcr_report_ordertotal td {
  padding-bottom: 15px;
}
